[package]
name = "openidconnect"
version = "0.1.0"
authors = ["David A. Ramos <ramos@cs.stanford.edu>"]
description = "OpenID Connect library"
license = "MIT"
repository = "https://github.com/ramosbugs/openidconnect-rs"

[dependencies]
base64 = "0.9"
chrono = "0.4"
curl = "0.4"
failure = "0.1"
failure_derive = "0.1"
itertools = "0.7.8"
log = "0.4"
oauth2 = "2.0.0-beta.2"
rand = "0.6"
ring = "0.14"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
untrusted = "0.6"
url = "1.0"

[dev-dependencies]
env_logger = "0.5"
hyper = "0.11"
pretty_assertions = "0.5"
